<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header-user}"/>
<main>
    <div class="container content-main">
        <span class="text-white h1">All Videos</span>
        <hr class="hr-3"/>
        <table class="table table-hover bg-blur">
            <thead>
            <tr>
                <th scope="col"><label class="text-white h4">Title</label></th>
                <th scope="col"><label class="text-white h4">Uploader</label></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="video : ${videos}">
                <tr>
                    <td class="text-white h5" th:text="${video.title}"></td>
                    <td class="text-white h5" th:text="${video.uploaderUsername}"></td>
                    <td>
                        <a sec:authorize="hasAuthority('ADMIN')"
                           th:href="@{'/videos/delete/' + ${video.id}}" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a sec:authorize="hasAuthority('ADMIN')"
                           th:href="@{'/videos/edit/' + ${video.id}}" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/videos/view/' + ${video.id}}" class="btn btn-success">View</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <a sec:authorize="hasAuthority('ADMIN')" href="/videos/upload"
               class="btn btn-success text-white mt-3 mb-5">Upload</a>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>