<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cuisine Online</title>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand text-white h4" href="/home">Cuisine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="userNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link h5" href="/recipes">All Recipes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/users">All Users</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/appliances">All Appliances</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/recipes-add">Add Recipe</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/appliances-add">Add Appliance</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container content-main">
        <span class="text-white h1">All Videos</span>
        <hr class="hr-3"/>
        <table class="table table-hover bg-blur">
            <thead>
            <tr>
                <th scope="col"><label class="text-white h4">Title</label></th>
                <th scope="col"><label class="text-white h4">Uploader</label></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="video : ${videos}">
                <tr>
                    <td class="text-white h5" th:text="${video.title}"></td>
                    <td class="text-white h5" th:text="${video.uploaderUsername}"></td>
                    <td>
                        <a th:href="@{'/videos/delete/' + ${video.id}}" class="btn btn-danger">Delete</a>
                    </td>
                    <td>
                        <a th:href="@{'/videos/edit/' + ${video.id}}" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a th:href="@{'/videos/view/' + ${video.id}}" class="btn btn-success">View</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h7 text-white">
            &#169; CopyRight Cuisine Online. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>