<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header-user}"/>
<main>
    <div class="content-main">
        <h1 class="text-center text-white" th:text="${video.title}"></h1>
        <hr class="hr-3"/>
        <div class="text-center mt-5">
            <iframe class="img-thumb" width="700" height="395"
                    th:src="@{https://www.youtube.com/embed/{url}(url=${video.url})}"
                    frameborder="1" alt="no video attached" allowfullscreen="0"></iframe>
        </div>
        <div class="label mt-4">
            <h4 class="text-white text-center mb-3" th:text="'Uploader: ' + ${video.uploaderUsername}"></h4>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>