<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuisine Online</title>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand text-white h4" href="/home">Cuisine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="userNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link h5" href="/recipes">All Recipes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/users">All Users</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/appliances">All Appliances</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/recipes-add">Add Recipe</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/appliances-add">Add Appliance</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="content-main">
        <h1 class="text-center text-white">Some recipe title</h1>
        <hr class="hr-3"/>
        <div class="text-center mt-5">
            <iframe class="img-thumb" width="700" height="395"
                    src="https://www.youtube.com/embed/pZOa8P_rXT8"
                    frameborder="1" alt="no video attached" allowfullscreen="0"></iframe>
        </div>
        <div class="label mt-4">
            <h4 class="text-white text-center mb-3">Uploader: Gogo</h4>
        </div>
    </div>
</main>
<footer class="footer py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h7 text-white">
            &#169; CopyRight Cuisine Online. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>