<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuisine Online</title>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <a class="navbar-brand text-white h4" href="/home">Cuisine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#userNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="userNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link h5" href="/recipes">All Recipes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/users">All Users</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/appliances">All Appliances</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/recipes-add">Add Recipe</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/appliances-add">Add Appliance</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link h5" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container content-main">
        <span class="text-white h1">All Users</span>
        <hr class="hr-3"/>
        <table class="table table-hover bg-blur">
            <thead>
            <tr>
                <th scope="col"><label class="text-white h4">#</label></th>
                <th scope="col"><label class="text-white h4">Username</label></th>
                <th scope="col"><label class="text-white h4">Email</label></th>
                <th scope="col"><label class="text-white h4">Role</label></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-white h5">1</td>
                <td class="text-white h5">SoulTaker</td>
                <td class="text-white h5">staker@abv.bg</td>
                <td class="text-white h5">ROOT</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-white h5">2</td>
                <td class="text-white h5">Gogo</td>
                <td class="text-white h5">gogo@abv.bg</td>
                <td class="text-white h5">USER</td>
                <td>
                    <form action="/users/promote/{id}" method="post">
                        <button class="btn btn-success">Promote</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="text-white h5">3</td>
                <td class="text-white h5">Pepo</td>
                <td class="text-white h5">pepo@abv.bg</td>
                <td class="text-white h5">ADMIN</td>
                <td>
                    <form action="/users/demote/{id}" method="post">
                        <button class="btn btn-danger">Demote</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h7 text-white">
            &#169; CopyRight Cuisine Online. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>