<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="container content-main">
        <span class="text-white h1">All Users</span>
        <hr class="hr-3"/>
        <table class="table table-hover bg-blur">
            <thead>
            <tr>
                <th scope="col"><label class="text-white h4">#</label></th>
                <th scope="col"><label class="text-white h4">Username</label></th>
                <th scope="col"><label class="text-white h4">Email</label></th>
                <th scope="col"><label class="text-white h4">Role</label></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-white h5">1</td>
                <td class="text-white h5">SoulTaker</td>
                <td class="text-white h5">staker@abv.bg</td>
                <td class="text-white h5">ROOT</td>
                <td></td>
            </tr>
            <tr>
                <td class="text-white h5">2</td>
                <td class="text-white h5">Gogo</td>
                <td class="text-white h5">gogo@abv.bg</td>
                <td class="text-white h5">USER</td>
                <td>
                    <form action="/users/promote/{id}" method="post">
                        <button class="btn btn-success">Promote</button>
                    </form>
                </td>
            </tr>
            <tr>
                <td class="text-white h5">3</td>
                <td class="text-white h5">Pepo</td>
                <td class="text-white h5">pepo@abv.bg</td>
                <td class="text-white h5">ADMIN</td>
                <td>
                    <form action="/users/demote/{id}" method="post">
                        <button class="btn btn-danger">Demote</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>