<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header-user}"/>
<main>
    <div class="content-main">
        <div class="text-center mt-2 mb-4">
            <span class="h1 text-white">Profile</span>
        </div>
        <hr class="my-3"/>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="label mt-2">
                        <h4 class="text-white text-center"
                            th:text="'Username:  ' + ${profile.username}"></h4>
                    </div>
                    <div class="label mt-4">
                        <h4 class="text-white text-center"
                            th:text="'Rank:  ' + ${profile.rank}"></h4>
                    </div>
                    <div class="label mt-4">
                        <h4 class="text-white text-center"
                            th:text="'Recipes uploaded:  ' + ${profile.recipesCount}"></h4>
                    </div>
                    <div class="label mt-4">
                        <h4 class="text-white text-center"
                            th:text="'Email:  ' + ${profile.email}"></h4>
                    </div>
                    <div class="label mt-4">
                        <h4 class="text-white text-center mb-3"
                            th:text="'Number:  ' + ${profile.telephoneNumber}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>