<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cuisine Online</title>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/img/cuisine-exception-background.jpg');
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<h1 class="text-dark text-center bg-white" th:text="${message}"></h1>
</body>
</html>