<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuisine Online</title>
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand text-white h4" href="/">Cuisine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/">Home</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/login">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-white active h5" href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <span class="h1 text-white">Welcome to Cuisine Online</span>
        <hr class="my-3"/>
        <span class="h4 text-white">Browse through an endless set of recipes from passionate enthusiasts or share yours.</span>
        <hr class="my-3"/>
    </div>
</main>
<footer class="footer py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h7 text-white">
            &#169; CopyRight Cuisine Online. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>