<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>
<main>
    <div class="content-main">
        <span class="text-white h1">Appliances</span>
        <hr class="hr-3"/>
        <div class="row mb-4 d-flex justify-content-around">
            <th:block th:each="appliance : ${appliances}">
                <div class="col-md-3 d-flex flex-column text-center mb-3">
                    <img th:src="${appliance.imageUrl}" class="img-thumb" width="350" height="350"/>
                    <h5 class="text-white text-center" th:text="${appliance.name}"></h5>
                    <a class="btn btn-danger mb-2" th:href="@{'/appliances/delete/' + ${appliance.id}}">Delete</a>
                </div>
            </th:block>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>