<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header-user}"/>
<main>
    <div class="content-main">
        <h5 class="text-white text-center">Are you sure you want to delete the appliance?</h5>
        <hr class="hr-3"/>
        <div class="row mb-4 d-flex justify-content-around">
            <div class="col-md-3 d-flex flex-column text-center mb-3">
                <form method="post" action="/appliances/delete">
                    <img th:src="${appliance.imageUrl}" class="img-thumb" width="350" height="350"/>
                    <h5 class="text-white text-center" th:text="${appliance.name}"></h5>
                    <input type="hidden" name="id" th:value="${appliance.id}">
                    <div class="button-holder d-flex justify-content-center">
                        <button class="btn btn-danger text-white mb-3" type="submit">Delete</button>
                    </div>
                </form>
                <a th:href="@{/appliances/all}" class="btn btn-success">Cancel</a>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>