<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header-user}"/>
<main>
    <div class="content-main">
        <div class="text-center mb-3">
            <span class="text-white mt-2 h4">Here are some of our recipes...</span>
        </div>
        <hr class="my-3"/>
        <div class="row mb-4 d-flex justify-content-around">
            <th:block th:each="recipe : ${recipes}">
                <div class="col-md-3 d-flex flex-column text-center mb-3">
                    <img th:src="${recipe.imageUrl}" class="img-thumb" width="350" height="350"/>
                    <a class="text-white text-center h5"
                       th:href="@{'/recipes/view/' + ${recipe.id}}"
                       th:text="${recipe.title}"></a>
                </div>
            </th:block>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>