<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header-guest}"/>
<main>
    <div class="container">
        <span class="h1 text-white">Welcome to Cuisine Online</span>
        <hr class="my-3"/>
        <span class="h4 text-white">Browse through an endless set of recipes from passionate enthusiasts or share yours.</span>
        <hr class="my-3"/>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>